*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

button{
    display: block;
    padding: 20px 40px;
    font-size: 30px;
    border-radius: 5px;
    border: 1px solid #398ff3;
    color: #398ff3;
    background-color: transparent;
    cursor: pointer;
}
.hover-content {
    position: relative;
    display: none;
}

.tooltip{
    position: absolute;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 5px;
    color: white;
    background-color: #398ff3;
    left: 55px;
    top: 10px;
}

.arrow{
    position: absolute;
    top: 5px;
    left: 100px;
    padding: 5px;
    background-color: #8dbff9;
    width: 15px;
    height: 15px;
    rotate: 45deg;
}

button:hover{
    background-color: #91c2fa;
    opacity: 95%;
}

.btn:hover + .hover-content{
    display: block;
}